/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 2
   Case Problem 1
   
   PHCT Typographic Style Sheet
   Author: Keagan Bennett
   Date:  3/4/22
   
   Filename: ph_styles.css

*/
@charset "utf-8";

@font-face { 
   font-family: Champagne;
   src: url(cac_champagne.woff) format('woff'),
   url(cac_champagne.ttf) format('ttf');
}

@font-face {
   font








/* Structural Styles */




/* Navigation Styles */




/* Section Styles */




/* Description List Styles */

